.gridContainer {
  display: grid;
  grid-gap: 12px;
  grid-template-areas:
    "first second third sixth"
    "fourth fourth fifth sixth";
  }
  
  .first {
    grid-area: first;
  }
  .second {
    grid-area: second;
  }
  
  .third {
    grid-area: third;
  }
  
  .fourth {
    grid-area: fourth;
  }
  
  .fifth {
    grid-area: fifth;
  }
  
  .sixth {
    grid-area: sixth;
  }